.bar {
    height: 30px;
    background-color: lightBlue;
    border: 1px solid blue
}

.title {
    float: left;
    padding: 5px 30px 10px 40px;
    font-family: cursive;
}

.nav {
    float: right;
    padding: 5px 30px 10px 40px;

}